COMPOSE_PROJECT_NAME=architecture-market

RABBITMQ_USER=market
RABBITMQ_PASSWORD=market
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

CLICKHOUSE_DATABASE=market
CLICKHOUSE_USER=market
CLICKHOUSE_PASSWORD=market
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000
